<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country%> (<%= stranka.StRacunov %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		
		var mesta = [];
		var ps = [];
		
		function pridobiPodatke(callback)
		{
			var xobj = new XMLHttpRequest();
			xobj.overrideMimeType("application/json");
			xobj.open("GET", "https://api.lavbic.net/kraji", true);
			xobj.onreadystatechange = function()
			{
				 if (xobj.readyState == 4 && xobj.status == "200") {
        			var json = JSON.parse(xobj.responseText);
        			callback(json)
				 }
			}
			xobj.send(null);
		}
		
		function obdelajPodatke(json)
		{
			console.log(json);
			var podatki = json;
			for(var i = 0; i < podatki.length; i++)
			{
				if(i < podatki.length-1)
				{
					mesta.push(podatki[i].kraj);
					ps.push(podatki[i].postnaStevilka);
					console.log(podatki[i].kraj + " " + podatki[i].postnaStevilka);
				}
			}
			$("#City").autocomplete({source:mesta});
		}
		
		pridobiPodatke(obdelajPodatke);
		
		function checkEmailAndPostal()//Funkcija preveri če sta vnešena veljavna kraj in email, ter temu primerno nastavi vrednost disabled gumba register
		{
			if(emailRegex.test(document.getElementById("Email").value.toLowerCase()) &&
			document.getElementById("Email").value.length > 0 &&
			mesta.indexOf(document.getElementById("City").value) != -1)
			{
				document.getElementById("Register").disabled = false;
			}
			else
			{
				document.getElementById("Register").disabled = true;
			}
		}

		document.getElementById("City").addEventListener("keyup", function () {
			var tmp = mesta.indexOf(this.value);
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
				}
			else if(tmp != -1)
				{
					document.getElementById("PostalCode").value = ps[tmp];
					document.getElementById("Country").value = "Slovenija";
					checkEmailAndPostal();
				}
			else
				{
					document.getElementById("PostalCode").value = "";
					document.getElementById("Country").value = "";
					document.getElementById("Register").disabled = true;
				}
			});
			
		document.getElementById("Email").addEventListener("keyup",function(){
			if(emailRegex.test(document.getElementById("Email").value.toLowerCase()))
			{
				
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-ok";
				//console.log(document.getElementById("Email").value);
				checkEmailAndPostal();
			}
			else
			{
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
				//console.log(document.getElementById("Email").value);
				document.getElementById("Register").disabled = true;
			}
		});
		
		
		document.getElementById("seznamStrank").addEventListener("change",function()
		{
			var x = ($("#seznamStrank option:selected").text()).substring(0,($("#seznamStrank option:selected").text()).indexOf(", "));
			
			for(var i = 0; i < seznamRacunov.length; i++)
			{
				var y = seznamRacunov[i].text.substring(0,seznamRacunov[i].text.indexOf(" ("));
				console.log(x.includes(y));
				if(x.includes(y))seznamRacunov[i].classList.add("racun-stranke");
				else seznamRacunov[i].classList.remove("racun-stranke");
			}
		});
		
	});
</script>
</body>
</html>